# File io

In [7]:
path = './data/abc.txt'

In [63]:
with open(path, 'w', encoding='utf-8') as f:
    f.write("hello 안\n")
    f.write("hello")

In [64]:
with open(path, 'r') as f:
    a = f.read()

print(a)

hello 안
hello

# 직렬화/역직렬화

In [15]:
data = {
    'name': '홍길동',
    'age': 30,
    'score': 90
}

In [57]:
import pickle
import json
import csv
import pandas as pd

### pickle

In [46]:
with open("./data/data.pickle", "wb") as f:
    pickle.dump(data, f)

In [47]:
with open("./data/data.pickle", "rb") as f:
    a = pickle.load(f)
print(a)

{'name': '홍길동', 'age': 30, 'score': 90}

### json

In [24]:
with open("./data/data.json", "w", encoding="utf-8") as f:
    json.dump(data, f, ensure_ascii=False)

In [25]:
with open("./data/data.json", "r") as f:
    a = json.load(f)
print(a)

{'name': '홍길동', 'age': 30, 'score': 90}

### csv

In [48]:
data = [['name','age'], ['bob', 20], ['alice', 15]]

In [49]:
with open("./data/data.csv", "w", encoding="utf-8") as f:
    csv.writer(f).writerow(data)

In [55]:
with open("./data/data.csv", "r", ) as f:
    a = f.read()

In [56]:
a

'"[\'name\', \'age\']","[\'bob\', 20]","[\'alice\', 15]"\n\n'

In [65]:
df = pd.DataFrame(data)
df.to_csv("./data/data_df.csv", index=False)
df

       0    1
0   name  age
1    bob   20
2  alice   15

In [66]:
df2 = pd.read_csv("./data/data_df.csv")
df2

       0    1
0   name  age
1    bob   20
2  alice   15