1. 리스트 numbers가 다음과 같을 때, 첫 번째 원소와 마지막 원소의 합을 구하는 코드를 작성하세요.

In [23]:
numbers = [10, 20,  30,  40,  50,  60, 70, 80, 90, 100]

print(numbers[0] + numbers[-1])

110

2. 리스트 colors가 다음과 같을 때, 첫 3개 원소와 마지막 2개 원소를 슬라이싱을 사용하여 출력하는 코드를 작성하세요.

In [24]:
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]

print(colors[:3])
print(colors[-3:-1])

['red', 'green', 'blue']
['purple', 'orange']

3. 다음 리스트에서 "korean"이라는 문자열을 찾아 출력하는 코드를 작성하세요. - indexing

In [26]:
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]

list_a[2][1]

'korean'

4. 리스트 list_a과 list_b가 다음과 같을 때, 두 리스트를 합쳐서 새로운 리스트 list_c를 만드는 코드를 작성하세요.

In [27]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

list_c = list_a + list_b
print(list_c)

[1, 2, 3, 4, 5, 6]

5. 아래의 튜플 tuple_a에서 "banana"를 "blueberry"로 변경하는 코드를 작성하세요.

In [37]:
tuple_a = ("apple", "banana", "cherry")

tuple_a = list(tuple_a)
tuple_a[1] = "blueberry"
tuple_a = tuple(tuple_a)

print(tuple_a)

('apple', 'blueberry', 'cherry')

6. 변수 a, b, c의 값을 사용하여 튜플 tuple_a를 생성하고 출력하는 코드를 작성하세요.

In [29]:
a = 5
b = 10
c = 15

tuple_a = (a, b, c)
print(tuple_a)

(5, 10, 15)

7. 튜플 numbers가 주어졌을 때, 튜플의 최대값과 최소값을 출력하는 코드를 작성하세요.

In [30]:
numbers = (92, 89, 72, 31, 71, 33, 19)

print(max(numbers), min(numbers))

92 19

8. dict 타입의 student(변수명)를 생성하고, 아래의 키-값 쌍을 추가하는 코드를 작성하세요.   
name: "Alice"   
age: 24   
major: "Computer Science"

In [31]:
student = {"name": "Alice", "age": 24, "major": "Computer Science"}

9. 위에서 생성한 student에서, 모든 키와 값을 출력하는 코드를 작성하세요

In [32]:
print(student.keys())
print(student.values())

dict_keys(['name', 'age', 'major'])
dict_values(['Alice', 24, 'Computer Science'])

10. 위에서 생성한 student에서, age(나이)를 26으로 변경하세요.

In [33]:
student["age"] = 26

11. 다음 딕셔너리 students에서 name의 값을 리스트(name_list)로, age의 값을 튜플(age_tuple) 만드는 코드를 작성하세요

In [34]:
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}

In [35]:
name_list = []
age_tuple = []
for i in students.keys():
    name_list.append(students[i]["name"])
    age_tuple.append(students[i]["age"])
age_tuple = tuple(age_tuple)
print(name_list, age_tuple)

['Alice', 'Bob', 'Charlie'] (24, 22, 23)