In [2]:
a = [1, 2, 3, 4, 5, 6]
b = [chr(97 + i) for i in range(6)]

a, b

([1, 2, 3, 4, 5, 6], ['a', 'b', 'c', 'd', 'e', 'f'])

In [3]:
for num, abc in zip(a, b):
    print(num, abc)

1 a
2 b
3 c
4 d
5 e
6 f

In [6]:
for i, j in enumerate(b):
    print(i, j)

0 a
1 b
2 c
3 d
4 e
5 f

In [8]:
# 1 ~ 100 합
cnt = 0
for i in range(1, 100):
    cnt += i

cnt

4950

In [10]:
for i in range(1, 10):
    print(f"2 * {i} = {2*i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [14]:
for i in range(2, 10):
    print(f"\n====== {i}단 ======")
    for ii in range(1, 10):
        print(f" {i} * {ii} = {i * ii}")

====== 2단 ======
 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18

====== 3단 ======
 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27

====== 4단 ======
 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36

====== 5단 ======
 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45

====== 6단 ======
 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54

====== 7단 ======
 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63

====== 8단 ======
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72

====== 9단 ======
 9 * 1 = 9
 9 * 2 = 18
 9 * 3 = 27
 9 * 4 = 36
 9 * 5 = 45
 9 * 6 = 54
 9 * 7 = 63
 9 * 8 = 72
 9 * 9 = 81

In [33]:
a = "*"
space = "    "
for i in range(1, 10):
    print(f"{(10 - i) * (space)}{a*i}")

                                    *
                                **
                            ***
                        ****
                    *****
                ******
            *******
        ********
    *********

In [6]:
numbers = [1, 2, 3, 4, 5]

squares = [i * 2 for i in numbers]

In [7]:
squares

[2, 4, 6, 8, 10]

In [8]:
[x*2 if x<5 else x for x in range(10)]

[0, 2, 4, 6, 8, 5, 6, 7, 8, 9]

In [10]:
[x for x in range(10) if x<5]

[0, 1, 2, 3, 4]

In [42]:
my_numbers = [3, 11, 17, 23, 38, 42]
win_numbers = [7, 14, 23, 32, 38, 45]

for num in my_numbers:
    if num in win_numbers:
        print(f"🎉 당첨 번호 있음! ({num})")
        break
else:
    print("😢 꽝입니다.")

🎉 당첨 번호 있음! (23)

In [51]:
print([ i for i in my_numbers if i in win_numbers ] if [ i for i in my_numbers if i in win_numbers ] else "꽝")

[23, 38]

# Iterator, Generator

- Iterable: for 의 in 에 나올 수 있는 객체의 유형
- Iterator: iter(), enumarate()
- Generator: yield 사용 패턴

In [5]:
from collections.abc import Iterable

isinstance('hello', Iterable)

True

In [37]:
iter_test_str = 'hello'

In [38]:
for i in enumerate(iter_test_str):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [55]:
def genarator_test():
    yield 'banana1'
    yield 'banana2'
    yield 'banana3'
    yield 'banana4'

In [56]:
for i in genarator_test():
    print(i)

banana1
banana2
banana3
banana4

In [68]:
gen = genarator_test()
next(gen)

'banana1'

In [69]:
next(gen)

'banana2'