# 조건문, 반복문 연습

1. 0, 음수, 양수 삼항 연산자로 판별

In [3]:
a = int(input())

print("양수" if a > 0 else "0" if a == 0 else "음수")

 -1

음수

2. 변수 number를 짝수 홀수 판별 후 결과 출력

In [4]:
number = int(input())

if number % 2 == 0:
    print("짝수")
else:
    print("홀수")

 3

홀수

3. score에 따라 학점 출력

90점 이상: A   
80점 이상 90점 미만: B   
70점 이상 80점 미만: C   
70점 미만: F

In [5]:
score = int(input())

print("A" if score >= 90 else "B" if score >= 80 else "C" if score >= 70 else "F")

 82

B

4. 변수 price와 is_discount가 주어졌을 때, is_discount가 True이면 가격에 10% 할인을 적용하고, 그렇지 않으면 원래 가격을 출력하는 코드를 작성하세요.

In [9]:
price = 100
is_discount = True

if is_discount:
    price *= 0.9
    print(int(price))
else:
    print(price)

90

5. 반복문을 사용하여 1부터 10까지의 숫자를 출력하는 코드를 작성하세요.

In [12]:
print([i for i in range(1, 11)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

6. 위 반복문(1~10) 숫자 중, 짝수의 값만 출력하는 코드를 작성하세요.

In [13]:
print([i for i in range(1, 11) if i%2 == 0])

[2, 4, 6, 8, 10]

7. 리스트 items와 변수 target이 주어졌을 때, for 반복문을 사용하여 target이 리스트에 있는지 확인하고, 결과를 출력하는 코드를 작성하세요.

In [14]:
items = ["apple", "banana", "cherry"]
target = "banana"

In [15]:
print(target in items)

True

9. 나이에 따라 다음과 같은 입장료를 받고 있다고 할 때, 반복문을 이용하여 1세부터 13세까지의 전체 가격표를 만드는 코드를 작성하세요.   
3세 이하: 무료   
3세에서 5세: 5달러   
5세에서 9세: 10달러   
9세에서 12세: 12달러   
12세 이상: 사용할 수 없음 (프로그램 종료)

In [17]:
def tmp(a):
    return "무료" if a <= 3 else "5달러" if a <= 5 else "10달러" if a <= 9 else "12달러" if a <= 12 else "사용 불가"

for i in range(1, 14):
    print(f"{i}세: {tmp(i)}")

1세: 무료
2세: 무료
3세: 무료
4세: 5달러
5세: 5달러
6세: 10달러
7세: 10달러
8세: 10달러
9세: 10달러
10세: 12달러
11세: 12달러
12세: 12달러
13세: 사용 불가

10. 다음 코드의 결과값은 무엇일까?
a = "Life is too short, you need python"   
   
if "wife" in a:   
    print("wife")   
   
elif "python" in a and "you" not in a:   
    print("python")   

elif "shirt" not in a:   
    print("shirt")   

elif "need" in a:   
    print("need")   
    
else: print("none")

In [18]:
a = "Life is too short, you need python"   
   
if "wife" in a:   
    print("wife")   
   
elif "python" in a and "you" not in a:   
    print("python")   

elif "shirt" not in a:   
    print("shirt")   

elif "need" in a:   
    print("need")   
    
else: print("none")

shirt

10. 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다.   
사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.   
|번호|통신사|
|-|-|   
|011|SKT|
|016|KT|
|019|LGU|
|010|알수없음|

In [20]:
phone = input()

if "-" in phone:
    phone = phone.replace("-","")
elif " " in phone:
    phone = phone.replace(" ", "")

print("알수없음" if phone[:3] == "010" else "SKT" if phone[:3] == "011" else "KT" if phone[:3] == "016" else "LGU")

 010 5271 6443

알수없음

11. 주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다.   
먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다.   
연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

In [39]:
num =""


while True:
    num = input()

    if "-" in num:
        num = num.replace("-","")
    elif " " in num:
        num = num.replace(" ", "")
    
    if len(num) != 13:
        continue
    else:
        break



num = list(num)
num12 = num[0:12]
chksum = [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5]

tmp = 0
print(num)
print(num12)
for i, j in zip(chksum, num):
    tmp += (i*int(j))
    
print(num[-1] == 11 - (tmp%11))

 321
 123
 0003223331111

['0', '0', '0', '3', '2', '2', '3', '3', '3', '1', '1', '1', '1']
['0', '0', '0', '3', '2', '2', '3', '3', '3', '1', '1', '1']
False

12. 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.   
import requests   
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']   
btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다.   
최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장",   
그렇지 않은 경우 "하락장" 문자열을 출력하라.   
   
Key Name	Description   
opening_price	최근 24시간 내 시작 거래금액   
closing_price	최근 24시간 내 마지막 거래금액   
min_price	최근 24시간 내 최저 거래금액   
max_price	최근 24시간 내 최고 거래금액

In [30]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

In [34]:
btc

tmp = int(btc['max_price']) - int(btc['min_price'])
print("상승장" if tmp + int(btc['opening_price']) > int(btc['max_price']) else "하락장")

상승장

In [41]:
requests.get("https://api.bithumb.com/public/ticker/").json()

{'status': '0000',
 'data': {'opening_price': '148687000',
  'closing_price': '147109000',
  'min_price': '146911000',
  'max_price': '148900000',
  'units_traded': '154.33392277',
  'acc_trade_value': '22795013427.81776',
  'prev_closing_price': '148698000',
  'units_traded_24H': '309.61749456',
  'acc_trade_value_24H': '45695104527.0101',
  'fluctate_24H': '-393000',
  'fluctate_rate_24H': '-0.27',
  'date': '1749007893627'}}

14. 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

In [42]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

In [49]:
tmp = 0

for i in range(1, len(ohlc)):
    tmp += (ohlc[i][-1] - ohlc[i][0])

In [50]:
tmp

0

In [52]:
sum(range(1, 10))

45