# 함수

- 인자 == 매개변수 == 입력 == 파라미터
- 반환값 == 리턴값 == 결과값
- 함수이름
- 함수 정의 -> 호출

In [1]:
def my_func():
    print('my first funtion')
    print(1 + 3)

def my_func(a, b):
    print(a, b)

In [2]:
# 가변 인자

def sum_all(*args):
    return sum(args)

In [3]:
# 인자1, 인자2, 가변 인자 -> 순서

def sum_all(arg1, arg2, *args):
    print(type(args))
    tmp = sum(args) + arg1 + arg2
    return tmp

In [4]:
def print_info(**kwargs):
    print(type(kwargs))
    for k, v in kwargs.items():
        print(k, v)

In [5]:
print_info(name = "asd", age = 12, city = "seoul", goto = "incheon")

<class 'dict'>
name asd
age 12
city seoul
goto incheon

### 요일 구하는 함수
- 입력 : year, month, day
- 출력 : 요일
- 이름 : 요일 찾기

연도가 윤년인지 확인하려면 다음 단계를 따릅니다.   

1. 연도를 4으로 균등하게 나눌 수 있는 경우 2단계로 이동합니다. 그렇지 않으면 5단계로 이동하세요.
2. 연도를 100으로 균등하게 나눌 수 있는 경우 3단계로 이동합니다. 그렇지 않으면 4단계로 이동하세요.
3. 연도를 400으로 균등하게 나눌 수 있는 경우 4단계로 이동합니다. 그렇지 않으면 5단계로 이동하세요.
4. 해당 연도는 윤년(366일)입니다.
5. 해당 연도는 윤년이 아닙니다(365일).

In [105]:
def find_week(year, month, day):
    import datetime
    day = datetime.datetime(year, month, day).weekday()
    if day == 0:
        return("월요일")
    elif day == 1:
        return("화요일")
    elif day == 2:
        return("수요일")
    elif day == 3:
        return("목요일")
    elif day == 4:
        return("금요일")
    elif day == 5:
        return("토요일")
    elif day == 6:
        return("일요일")

In [106]:
find_week(2025, 5, 31)

'토요일'

In [107]:
def is_yun_year(year):
    result = True if year % 400 == 0 else False if year % 100 == 0 else True if year % 4 == 0 else False
    return result

In [108]:
def non_use_package_find_week(year, month, day):
    total_day = day

    for i in range(1, year):
        total_day += 366 if is_yun_year(i) else 365

    month_days = [0,31,29 if is_yun_year(year) else 28,31,30,31,30,31,31,30,31,30,31]

    total_day += sum([month_days[i] for i in range(month)])

    remain_day = total_day % 7
    
    if remain_day == 1:
        return("월요일")
    elif remain_day == 2:
        return("화요일")
    elif remain_day == 3:
        return("수요일")
    elif remain_day == 4:
        return("목요일")
    elif remain_day == 5:
        return("금요일")
    elif remain_day == 6:
        return("토요일")
    else:
        return("일요일")

In [109]:
non_use_package_find_week(2025, 4, 23)

'수요일'

In [110]:
for y in range(1, 2026):
    for m in range(1, 13):
        for d in range(1, 29):
            if not non_use_package_find_week(y, m, d) == find_week(y, m, d):
                print("False")

# 성적처리 시스템
- calc_total
- calc_average
- calc_order
- print_class
- print_student

In [164]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [165]:
def calc_total_per_man(stu):
    for i in stu:
        i['total'] = i['kor'] + i['eng'] + i['math']
        print(i['name'], "총합:", i['total'], "점")

calc_total_per_man(students)

김철수 총합: 255 점
박제동 총합: 265 점
홍길동 총합: 240 점

In [166]:
def calc_total(stu):
    tmp = sum(i['total'] for i in stu)
    print(tmp)

calc_total(students)

760

In [158]:
def calc_avg(stu):
    for i in stu:
        i['avg'] = i['total']//3
calc_avg(students)

In [159]:
def calc_avg_per_subj(stu, subjects):
    tmp = 0
    for i in stu:
        tmp += i[subjects]
    print(f"{subjects}'s average = {tmp//3}")

calc_avg_per_subj(students, "kor")
calc_avg_per_subj(students, "eng")
calc_avg_per_subj(students, "math")

kor's average = 86
eng's average = 81
math's average = 85

In [160]:
def calc_avg_total(stu):
    tmp = sum(i['total'] for i in stu)

    print(tmp//3)

calc_avg_total(students)

253

In [161]:
def calc_order_per_subj(stu, subjects):
    tmp = []
    for i in stu:
        tmp.append((i['name'], i[subjects]))
    tmp = iter(sorted(tmp, key = lambda x: -x[1]))
    print(f"{subjects}\n 1등: {tmp.__next__()[0]}, 2등: {tmp.__next__()[0]}, 3등: {tmp.__next__()[0]}")

calc_order_per_subj(students, "math")

math
 1등: 박제동, 2등: 김철수, 3등: 홍길동

# CURD
1. 간식박스 생성 create
2. 포장 update
3. 미리보기 상위 3개 read
4. 삭제 delete
5. 간식 찾기 search
6. 전체보기 read

In [31]:
def get_valid_text_input(msg):
    user_input = input('😆'+ msg).strip()
    if not user_input :
        print('😆 입력값을 확인하세요')
        return None
    return user_input

#숫자검증
def get_valid_number_input(msg, min_no=1, max_no=5):
    #숫자체크
    try : 
        number = int(input(msg))
        if number < min_no :
            print(f'{min_no}이상 숫자를 입력하세요')
            return None
        elif number > max_no:
            print(f'{max_no}이하 숫자를 입력하세요')
            return None
        else:
            return number
    except ValueError:
        print('숫자로 입력하세요.')
        return None

In [37]:
def create_snack_box():
    snack_box = ['초코파이']
    new_snack = get_valid_text_input('추가하고 싶은 간식을 입력하세요').split(',')
    snack_box += [i for i in new_snack]

    return snack_box

In [33]:
def multiply_snack_box(snack_box):
    qty = int(input('몇 박스를 포장 할까요? :'))
    qty = get_valid_number_input('몇 박스를 포장할까요?', 1)
    return snack_box * qty

In [45]:
def display_snack_box(snack_box):
    print(f"{snack_box} 총 {len(snack_box)}개 입니다.")

In [46]:
def preview_snack_box(snack_box):
    print(snack_box[:3])

In [47]:
def remove_snack_box(snack_box):
        #예외처리
    if not snack_box:
        print('간식박스가 비어 있어요')
        return

    display_snack_box()

    msg = f'혹시 빼고싶은 간식이 있으면 번호를 입력하세요 (0~{len(snack_box)-1})'
    snack_no = get_valid_number_input(msg, 1, len(snack_box))

    #snack_no validation

    del snack_box[snack_no]
    return snack_box

In [48]:
def search_snack(snack_box):
    target = get_valid_text_input('찾고싶은 간식을 입력하세요')

    if target in snack_box:
        print(f'{target} -> 간식 박스 내에 존재합니다')

In [49]:
def summarize_snacks(snack_box):
    summary = {}
    for snack in snack_box:
        summary[snack] = summary.get(snack,0)+1

    print('간식박스 정리')
    for snack, qty in summary.items():
        print(f'- {snack} : {qty}개')
#서비스의 흐름 - 선택과 반복
def run_menu_program():
    snack_box = []
    while True:
        print("===========================================================")
        print('간식박스 관리 프로그램 메뉴')
        print('1. 간식박스 생성')
        print('2. 세트 생성')
        print('3. 세트 미리보기')
        print('4. 간식 삭제')
        print('5. 간식 검색')
        print('6. 간식박스 요약')
        print('7. 최종 간식박스 확인')

        choice = input('원하는 메뉴 번호를 입력하세요 : ')

        if choice == '1':
            snack_box = create_snack_box()
        elif choice == '2':
            snack_box = multiply_snack_box(snack_box)
        elif choice == '3':
            preview_snack_box(snack_box)
        elif choice == '4':
            remove_snack_box(snack_box)
        elif choice == '5':
            search_snack(snack_box)
        elif choice == '6': 
            summarize_snacks(snack_box)
        elif choice == '7':
            display_snack_box(snack_box)

# lambda

선언 >> lambda <매개변수>: 코드   
호출 >> lambda <매개변수>:

In [ ]:
def aaa(a):
    return a + 1

In [51]:
lambda a: a+1

In [52]:
(lambda a: a+1)(2)

3

In [53]:
def sum1(a, b):
    return a + b

In [60]:
(lambda a,b: a+b)(2, 111)

113

In [65]:
def calc_func(a, b, opr_func):
    return opr_func(a, b)

In [67]:
calc_func(1, 2, lambda x,y: x - y)

-1

In [68]:
# map() 기본 사용 예시
numbers = [1, 2, 3, 4, 5]
squared = map(lambda x: x**2, numbers)
print(list(squared))  # [1, 4, 9, 16, 25]

# for 문에서의 활용
for squared_num in map(lambda x: x**2, numbers):
    print(squared_num)

[1, 4, 9, 16, 25]
1
4
9
16
25

In [71]:
fruits = ['apple', 'banana', 'cherry']
list(map(str.upper, fruits))

['APPLE', 'BANANA', 'CHERRY']

In [84]:
kor_score = [1, 2, 3]
eng_score = [14, 15, 16]
math_score = [7, 8, 9]

list(map(lambda x,y,z: (x+y+z)//3, kor_score, eng_score, math_score))

[7, 8, 9]

In [85]:
list(map(lambda x: sum(x), zip(kor_score, eng_score, math_score)))

[22, 25, 28]

In [86]:
list(map(lambda x,y,z: (x+y+z)//3, kor_score, eng_score, math_score))

[7, 8, 9]

In [134]:
import time
points = {}
# # 메뉴 저장 리스트 -> 메뉴 추가 시 여기서.
menu = [
    {'name':'샤프', 'price': 6000},
    {'name':'볼펜', 'price': 3000},
    {'name':'지우개', 'price': 1000},
    {'name':'화이트', 'price': 3000},
    {'name':'공책', 'price': 3500}
]

def prt_menu(menu):
    print('╔' + '═' * 40 + '╗')
    print(f'빵꾸똥꾸 문구야'.center(34))
    print(f"에 오신 것을 환영합니다!💥".center(34))
    print('╚' + '═' * 40 + '╝') 
    print(f'{"번호"}\t\t{"제품명"}\t\t{"가격"}')
    print('-'*44)

    for i, m in enumerate(menu):
        print(f'{i+1}\t\t{m["name"]}\t\t{m["price"]:,}원')
    print('-'*44)

def prt_alarm():
    print('='*44)
    print(f'{"[알림]❌ 잘못된 입력입니다.":^35}')
    print(f'{"[알림]✅ 다시 입력해주세요.":^35}')
    print('='*44)


def prt_time():
    for i in range(3, 0, -1):
        print('=' * 44)
        print(f'{i}초 뒤에 시작화면으로 돌아갑니다.'.center(34))
        time.sleep(1)

def add_cart():
    while True:
        order_num = input('주문하실 제품 번호를 선택하세요(주문 취소: X): ')

        if order_num in ["x", "X"]:
            return False
        elif order_num in [str(i) for i in range(10)] and 0 < int(order_num) <= len(menu):
            return int(order_num)
        else:
            prt_alarm()

def add_qty():
    while True:
        qty = input('\t수량을 입력하세요(취소: x): ')
        if qty in ["x", "X"]:
            return False
        elif qty == "0" or qty not in [str(i) for i in range(10)]:
            prt_alarm()
        else:
            return int(qty)

def add_lst(order_list, ord_num, qty):
    item = menu[ord_num]
    for i in order_list:
        if i['name'] == item['name']:
            i['qty'] += qty
            return order_list 
    order_list.append({
        'name': item['name'],
        'qty': qty,
        'price': item['price']
    })
    return order_list

def yesno():
    while True:
        a=input('더 주문하시겠습니까?(y/n):')
        if a in ['y','n','Y','N']:
            return a.lower()
        else:
            prt_alarm()
            continue

def calc_cost():
    total = 0   
    print('='*44)
    print(f'\t\t{"주문 내역"}')
    print('-'*44)

    for order in order_list:
        item_total = order['qty'] * order['price']
        total += item_total

        print(f'{order["name"]}\t{order["qty"]}개\t-\t{item_total:,}원')

    print('-'*44)
    print(f'총 결제 금액: {total:,}원')
    print('='*44)
    return total

def prt_points():
    while True:
        ab = input('포인트를 적립하시겠습니까? (y/n): ')
        if ab.lower() not in ['y', 'n']:
            prt_alarm()
            continue
        elif ab.lower()=='n':
            return        
        else:
            while True:
                phone = input('전화번호를 입력해 주세요: ')
                if not phone.isdigit() or len(phone) < 11 or phone == "x":
                    prt_alarm()
                    continue                       
                user_id = f'user_{phone[-4:]}'
                point = int(total * 0.05)                 
                if user_id in points :
                    points[user_id] += point
                else :
                    points[user_id] = point
                print('='*44)
                print(f'🎁{user_id}고객님, {point}점 적립 되었습니다!🎁')
                print(f' 고객님의 총 적립포인트는 {points[user_id]:,}점 입니다!')
                print('='*44)
                return

In [ ]:
def draw_pencil_ascii():
    pencil_art = r"""
        .================ooooooo
 ___   ,'    \_________________________________
/   /-/       /                   ////////////  ''--..._
\___\-\       \                   \\\\\\\\\\\\  __..--'
       `--------------------------''''''''''''''
"""
    print(pencil_art)

draw_pencil_ascii()
while True:
    prt_menu(menu)
    # 다중 주문 저장 리스트
    order_list = []

    while True: 
        ord_num = add_cart()
        if ord_num == False:
            break
        
        menut = menu[ord_num]['name']
        
        print('='*44)
        print(f'{"고객님이 선택하신 제품은":^33}')
        print(f'{menut + " 입니다.":^33}')
        print(f'{"몇 개를 드릴까요?":^33}')
        
        
        qty = add_qty()
        if qty == False:
            break
             
        add_lst(order_list, ord_num, qty)
        
        if yesno() == 'n':
            break
        print('-'*44)
    if qty != False and ord_num != False:
        total = calc_cost()
        
        prt_points()
        
        print(f'{"결제가 완료되었습니다.":^37}')
        print(f'{"잠시만 기다려주세요. 😊":^37}')
    
        prt_time()

        .================ooooooo
 ___   ,'    \_________________________________
/   /-/       /                   ////////////  ''--..._
\___\-\       \                   \\\\\\\\\\\\  __..--'
       `--------------------------''''''''''''''

╔════════════════════════════════════════╗
             빵꾸똥꾸 문구야
         에 오신 것을 환영합니다!💥
╚════════════════════════════════════════╝
번호		제품명		가격
--------------------------------------------
1		샤프		6,000원
2		볼펜		3,000원
3		지우개		1,000원
4		화이트		3,000원
5		공책		3,500원
--------------------------------------------

주문하실 제품 번호를 선택하세요(주문 취소: X):  x

╔════════════════════════════════════════╗
             빵꾸똥꾸 문구야
         에 오신 것을 환영합니다!💥
╚════════════════════════════════════════╝
번호		제품명		가격
--------------------------------------------
1		샤프		6,000원
2		볼펜		3,000원
3		지우개		1,000원
4		화이트		3,000원
5		공책		3,500원
--------------------------------------------

주문하실 제품 번호를 선택하세요(주문 취소: X):  1

============================================
          고객님이 선택하신 제품은
             볼펜 입니다.
           몇 개를 드릴까요?

	수량을 입력하세요(취소: x):  x

╔════════════════════════════════════════╗
             빵꾸똥꾸 문구야
         에 오신 것을 환영합니다!💥
╚════════════════════════════════════════╝
번호		제품명		가격
--------------------------------------------
1		샤프		6,000원
2		볼펜		3,000원
3		지우개		1,000원
4		화이트		3,000원
5		공책		3,500원
--------------------------------------------

In [52]:
import time
num = [i for i in range(100000)]


s = time.time()
c = list(filter(lambda x: x%2==0, num))
# print(c)
print(time.time() - s)

s = time.time()
b = [i for i in num if i % 2 == 0]
# print(b)
print(time.time() - s)

0.008970260620117188
0.006125211715698242

In [53]:
students = [("alice", 20, 85), ("bob", 22, 90), ("charlie", 21, 78)]

In [56]:
print(sorted(students, key=lambda x: (x[1])))
print(sorted(students, key=lambda x: (-x[2])))

[('alice', 20, 85), ('charlie', 21, 78), ('bob', 22, 90)]
[('bob', 22, 90), ('alice', 20, 85), ('charlie', 21, 78)]

In [57]:
def func(lst):
    result = []
    for i in lst:
        result.append(str(i))
    return result

In [59]:
to_string_list = lambda x : list(map(str, x))

In [61]:
print(to_string_list([1, 2,3,4,5]))

['1', '2', '3', '4', '5']

In [62]:
def concat_strings(s1, s2):
    return s1+s2

In [64]:
concat_strings = lambda x, y: x + y

In [66]:
print(concat_strings("ads", "13123"))

ads13123

In [85]:
def remove_vowels(s):
    result = ''
    for ch in s:
        if ch not in 'aeiou':
            result+=ch
    return result

In [105]:
remove_vowels2 = lambda s:  ''.join([ ch for ch in s if ch not in 'aeiou'])

In [106]:
print(remove_vowels2("qwertyuiopasdfghjklzxcvbnm"))

qwrtypsdfghjklzxcvbnm

In [107]:
def find_longest_word(s):
    words = s.split()
    longest = words[0]
    max_len = len(longest)

    for w in words[1:] :
        if len(w) > max_len:
            longest = w
            max_len = len(w)

    return longest, max_len

In [109]:
def find_longest_word2(s):
    words = s.split()
    longest = max(words, key=len)
    return longest, len(longest)

In [118]:
find_longest_word3 = lambda s : max([(w, len(w)) for w in s.split()], key=lambda x: x[1])

In [122]:
print(find_longest_word("Live as if you were to die tomorrow."))
print(find_longest_word2("Live as if you were to die tomorrow."))
print(find_longest_word3("Live as if you were to die tomorrow."))

('tomorrow.', 9)
('tomorrow.', 9)
('tomorrow.', 9)

In [139]:
def split_nums_letters(s):
    nums = [int(ch) for ch in s if ch.isdigit()]
    letters = [ch for ch in s if ch.isalpha()]
    

    return nums, letters

In [141]:
split_nums_letters2 = lambda s: ([int(ch) for ch in s if ch.isdigit()], [ch for ch in s if ch.isalpha()])

In [143]:
print(split_nums_letters("a1b2c3d4"))
print(split_nums_letters2("a1b2c3d4"))

([1, 2, 3, 4], ['a', 'b', 'c', 'd'])
([1, 2, 3, 4], ['a', 'b', 'c', 'd'])

In [158]:
def count_alphabet(s):
    cnt = {}
    for i in s:
        if i in cnt:
            cnt[i] += 1
        else:
            cnt[i] = 1
    return cnt

In [159]:
def count_alphabet1(s):
    return {ch : s.count(ch) for ch in s}

In [160]:
count_alphabet2 = lambda x: {ch : x.count(ch) for ch in x}

In [161]:
print(count_alphabet("hello"))
print(count_alphabet1("hello"))
print(count_alphabet2("hello"))

{'h': 1, 'e': 1, 'l': 2, 'o': 1}
{'h': 1, 'e': 1, 'l': 2, 'o': 1}
{'h': 1, 'e': 1, 'l': 2, 'o': 1}