In [2]:
import tensorflow
import pandas as pd
import numpy as np

In [3]:
df_25 = pd.read_csv("./data/road_kill_20250501.csv", encoding='cp949')
df_23 = pd.read_csv("./data/road_kill_23.csv", encoding='cp949')
df_22 = pd.read_csv("./data/road_kill_22.csv", encoding='cp949')

In [4]:
df_25[' 발생건수 '].sum(), df_23['발생건수'].sum(), df_22[' 발생건수 '].sum()

(np.int64(211), np.int64(313), np.int64(449))

In [18]:
df_23

     본부명   지사명       노선명         구간  방향  5km  발생건수         위도          경도
0   서울경기    화성      서해안선    310~315  목포  310     3  37.217471  126.871994
1   서울경기    화성      서해안선    310~315  서울  310     3  37.217471  126.871994
2   서울경기    시흥  수도권제1순환선    100~105  판교  100     4  37.419086  126.828963
3   서울경기  경기광주       중부선    325~330  통영  325     6  37.248957  127.421370
4   서울경기  경기광주       중부선    325~330  하남  325     3  37.248957  127.421370
..   ...   ...       ...        ...  ..  ...   ...        ...         ...
82  광주전남    함평      서해안선     35~40   서울   35     3  35.109966  126.481287
83  광주전남    함평      서해안선     55~60   서울   55     3  35.273296  126.543684
84  대구경북    고령     광주대구선   165~170   광주  165     5  35.753698  128.359582
85  부산경남    창원     남해1지선       0~5   함안    0     3  35.271400  128.474403
86  부산경남    창원       남해선   130~135   부산  130     4  35.271766  128.658197

[87 rows x 9 columns]

In [19]:
df_25[' 발생건수 '].sum()

np.int64(211)

In [17]:
df_23['지사명'].value_counts

<bound method IndexOpsMixin.value_counts of 0       화성
1       화성
2       시흥
3     경기광주
4     경기광주
      ...
82      함평
83      함평
84      고령
85      창원
86      창원
Name: 지사명, Length: 87, dtype: object>

In [15]:
df_25[' 지사명 '].value_counts()

 지사명
진천         14
대전          6
부안          4
제천          3
남원          3
공주          3
함평          2
순천          2
천안          2
당진/공주       2
경기광주        2
강릉          2
원주          2
창원          1
영동          1
동서울         1
보령          1
천안/순천       1
제천/홍천       1
홍천          1
창녕          1
논산          1
당진          1
보은          1
진천/경기광주     1
Name: count, dtype: int64

In [6]:
df_25.describe()

             5km       발생건수          위도          경도
count   59.000000  59.000000  59.000000   59.000000
mean   166.525424   3.576271  36.497404  127.418648
std    124.180952   1.086014   0.752180    0.518792
min      0.000000   3.000000  34.990320  126.489299
25%     42.500000   3.000000  36.253058  127.219617
50%    140.000000   3.000000  36.625360  127.435833
75%    285.000000   4.000000  36.991334  127.517528
max    355.000000   7.000000  37.802916  128.838156

In [7]:
df_23.describe()

              5km       발생건수         위도          경도
count   87.000000  87.000000  87.000000   87.000000
mean   142.413793   3.597701  36.406149  127.278355
std    126.292992   0.993698   0.789538    0.623228
min      0.000000   3.000000  34.888038  126.393738
25%     30.000000   3.000000  35.776076  126.776140
50%     90.000000   3.000000  36.590053  127.318868
75%    272.500000   4.000000  37.034393  127.469129
max    380.000000   9.000000  37.574402  129.095934

In [8]:
df_22.describe()

             5km        발생건수           위도          경도
count  119.000000  119.000000  119.000000  119.000000
mean   165.798319    3.773109   36.606227  127.470264
std    124.590827    1.355697    0.783861    0.561537
min      0.000000    3.000000   34.976730  126.479639
25%     50.000000    3.000000   36.266987  127.186706
50%    140.000000    3.000000   36.708802  127.424086
75%    280.000000    4.000000   37.232508  127.787377
max    405.000000   13.000000   37.838769  129.095547